<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/manager/book-data.css">
  <link rel="stylesheet" href="../../static/css/reset.css">
  <link rel="stylesheet" href="../../static/css/main.css">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <nav class="nav">
      <div class="input-button">
        <input type="text">
      </div>
    </nav>
  </header>
  <section class="section">
    <div class="book-data">
      <div class="book-info">
        <div class="info-form">
          <div>Name: <span></span></div>
        </div>
        <div class="info-form">
          <div>Author: <span></span></div>
        </div>
        <div class="info-form">
          <div>Publisher: <span></span></div>
        </div>
        <div class="info-form">
          <div>Year of issue: <span></span></div>
        </div>
        <div class="info-form">
          <div>Page: <span></span></div>
        </div>
        <div class="info-form">
          <div>Language: <span></span></div>
        </div>
        <div class="info-form">
          <div>Binding: <span></span></div>
        </div>
        <div class="info-form">
          <div>Description: <span></span></div>
        </div>
        <div class="info-form">
          <div>ISBN: <span></span></div>
        </div>
        <div class="info-form">
          <div>Category: <span></span></div>
        </div>
        <div class="info-form">
          <div>Avaibility: <span></span></div>
        </div>
        <div class="info-form">
          <div>Avatar: <span></span></div>
        </div>
      </div>
      <div class="book-img">
        <img src="" alt="">
        <div class="button">
          <button class="delete-book">Delete</button>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="book-form">
      <form action="/" method="post">
        <div class="book-form__input">
          <div class="data-form">
            <input type="text" name="name" placeholder="Name">
          </div>
          <div class="data-form">
            <input type="text" name="author" placeholder="Author">
          </div>
          <div class="data-form">
            <input type="text" name="publisher" placeholder="Publisher">
          </div>
          <div class="data-form">
            <input type="text" name="yearOfIssue" placeholder="Year of issue">
          </div>
          <div class="data-form">
            <input type="text" name="page" placeholder="Page">
          </div>
          <div class="data-form">
            <input type="text" name="language" placeholder="Language">
          </div>
          <div class="data-form">
            <input type="text" name="binding" placeholder="Binding">
          </div>
          <div class="data-form">
            <input type="text" name="description" placeholder="Description">
          </div>
          <div class="data-form">
            <input type="text" name="isbn" placeholder="ISBN">
          </div>
          <div class="data-form">
            <input type="text" name="category" placeholder="Category">
          </div>
          <div class="data-form">
            <input type="text" name="avaibility" placeholder="Avaibility">
          </div>
          <div class="data-form">
            <input type="text" name="avatar" placeholder="Avatar">
          </div>
        </div>
        <div class="button">
          <input type="text">
          <button type="submit">Save</button>
          <input type="file">
        </div>
      </form>
    </div>
  </section>
</body>
</html>