<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/manager/book-data.css">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/main.css">
  <title>Book data center</title>
</head>
<body>
  <header class="header">
    <nav class="nav">
      <form th:action="@{/books}" th:method="get">
        <div class="input-button">
          <input type="text" name="id">
          <button type="submit">Search</button>
        </div>
      </form>
    </nav>
  </header>
  <section class="section">
    <div class="book-data">
      <span th:text="${bookError}"></span>
      <div class="book-info" th:if="${book != null && book.getName() != null}">
        <div class="info-form">
          <div>Name: <span th:text="${book.getName()}"></span></div>
        </div>
        <div class="info-form">
          <div>Author: <span th:text="${book.getAuthor()}"></span></div>
        </div>
        <div class="info-form">
          <div>Publisher: <span th:text="${book.getPublisher()}"></span></div>
        </div>
        <div class="info-form">
          <div>Year of issue: <span th:text="${book.getIssueYear()}"></span></div>
        </div>
        <div class="info-form">
          <div>Page: <span th:text="${book.getPage()}"></span></div>
        </div>
        <div class="info-form">
          <div>Language: <span th:text="${book.getLanguage()}"></span></div>
        </div>
        <div class="info-form">
          <div>Binding: <span th:text="${book.getBinding()}"></span></div>
        </div>
        <div class="info-form">
          <div>ISBN: <span th:text="${book.getIsbn()}"></span></div>
        </div>
        <div class="info-form">
          <div>Category: <span th:text="${book.getCategory()}"></span></div>
        </div>
        <div class="info-form">
          <div>Availability: <span th:text="${book.isAvailability()}"></span></div>
        </div>
        <div class="info-form">
          <div>Description: <span th:text="${book.getDescription()}"></span></div>
        </div>
        <div class="info-form">
          <div>Count: <span th:text="${book.getWarehouse().getCount()}"></span></div>
        </div>
      </div>
      <div class="book-img" th:if="${book != null && book.getName() != null}">
        <img th:src="@{'/img/books/' + ${book.getBookId()}}" alt="Book image">
        <div class="button">
          <form th:action="@{'/books/' + ${book.getBookId()}}" th:method="put">
<!--            <button class="delete-book">Delete</button>-->
            <input type="text" placeholder="New set count" name="newSetCount">
            <button type="submit">Add</button>
          </form>
        </div>
      </div>
    </div>
    <div class="book-form">
      <form th:action="@{/books}" th:method="post" enctype="multipart/form-data">
        <div class="book-form__input">
          <div class="data-form">
            <input type="text" name="name" placeholder="Name">
          </div>
          <div class="data-form">
            <input type="text" name="author" placeholder="Author">
          </div>
          <div class="data-form">
            <input type="text" name="publisher" placeholder="Publisher">
          </div>
          <div class="data-form">
            <input type="text" name="yearOfIssue" placeholder="Year of issue">
          </div>
          <div class="data-form">
            <input type="text" name="page" placeholder="Page">
          </div>
          <div class="data-form">
            <input type="text" name="language" placeholder="Language">
          </div>
          <div class="data-form">
            <input type="text" name="binding" placeholder="Binding">
          </div>
          <div class="data-form">
            <input type="text" name="description" placeholder="Description">
          </div>
          <div class="data-form">
            <input type="text" name="isbn" placeholder="ISBN">
          </div>
          <div class="data-form">
            <input type="text" name="category" placeholder="Category">
          </div>
        </div>
        <div class="button">
          <input type="text" name="startCount" placeholder="Start count">
          <button type="submit">Save</button>
          <input type="file" name="avatar">
        </div>
      </form>
    </div>
  </section>
</body>
</html>