<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="../../css/admin/user-data.css">
  <title>Data Center</title>
</head>
<body>
  <header class="header">
    <nav class="nav">
      <div class="input-button">
        <form action="/admin/get-user" method="post">
          <input type="text" name="userId">
          <button class="button-submit" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>
  <section class="section">
    <div class="user-data">
      <div class="box__header">
        <div>
          <h1>User</h1>
        </div>
      </div>
        <div class="user-info">
            <div class="hidden-img">
              <span th:if="${user == null}">
                <img src="../../img/UserActivity.svg" alt="">
              </span>
            </div>
            <div th:if="${user != null}" class="hidden-div">
                <div class="form-data">
                  <img src="../../img/UserId.svg" alt="">
                  <div>Firstname: <span id="firstName" th:text="${user.getFirstName()}"></span></div>
                </div>
                <div class="form-data">
                  <img src="../../img/UserId.svg" alt="">
                  <div>Lastname: <span id="lastName" th:text="${user.getLastName()}"></span></div>
                </div>
                <div class="form-data">
                  <img src="../../img/Email.svg" alt="">
                  <div>Email: <span id="email" th:text="${user.getEmail()}"></span></div>
                </div>
                <div class="form-data">
                  <img src="../../img/Phone.svg" alt="">
                  <div>Phone: <span id="phone" th:text="${user.getPhoneNumber()}"></span></div>
                </div>
                <div class="form-data">
                  <img src="../../img/UserRole.svg" alt="">
                  <div>Roles: <span id="roles" th:text="${user.getRoles()}"></span></div>
                </div>
                <div class="form-data">
                  <img src="../../img/UserActivity.svg" alt="">
                  <div>Active: <span id="active" th:text="${user.isActive()}"></span></div>
                </div>
            </div>
        </div>
        <div th:if="${user != null}" class="button">
            <form th:action="@{/admin(id=${user.getUserId()})}" th:method="put">
                <button id="manager-button" class="button">Make manager</button>
            </form>
            <form th:action="@{/admin(id=${user.getUserId()})}" th:method="patch">
                <button id="block-button" class="button">Block user</button>
            </form>
            <form th:action="@{/admin(id=${user.getUserId()})}" th:method="delete">
                <button id="delete-button" class="button">Delete user</button>
            </form>
        </div>
        <div th:if="${user == null}" class="button">
            <button disabled class="button">Make manager</button>
            <button disabled class="button">Block user</button>
            <button disabled class="button">Delete user</button>
        </div>
    </div>
  </section>

  <script src="../js/user-data.js"></script>
</body>
</html>