<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/reset.css">
  <link rel="stylesheet" href="../../static/css/main.css">
  <link rel="stylesheet" href="../../static/css/admin/user-data.css">
  <title>Data Center</title>
</head>
<body>
  <header class="header">
    <nav class="nav">
      <div class="input-button">
        <input type="text" name="userId">
        <button class="button-submit" type="submit">Search</button>
      </div>
    </nav>
  </header>
  <section class="section">
    <div class="user-data">
      <div class="box__header">
        <div>
          <h1>User</h1>
        </div>
      </div>
      <div class="user-info">
        <div class="form-data">
          <div>Firstname: <span></span></div>
        </div>
        <div class="form-data">
          <div>Lastname: <span></span></div>
        </div>
        <div class="form-data">
          <div>Email: <span></span></div>
        </div>
        <div class="form-data">
          <div>Phone: <span></span></div>
        </div>
        <div class="form-data">
          <div>Roles: <span></span></div>
        </div>
        <div class="form-data">
          <div>Active: <span></span></div>
        </div>
      </div>
      <div class="button">
        <button class="button">Make manager</button>
        <button class="button">Ban user</button>
      </div>
    </div>
  </section>
</body>
</html>