body {
  background-color:var(--first-color);
  color: #fff;
}

header {
  padding: 20px;
  background-color: var(--second-color);
}

button {
  outline: none;
  background-color: transparent;
  border: 1px var(--second-color) solid;
  color: #fff;
  padding: 2px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .1s ease-in;
}

button:hover {
  color: #fff;
}

input {
  outline: none;
  border: none;
}

.section {
  padding: 0px 20px;
  display: flex;
  justify-content: center;
}

.input-button {
  display: flex;
  gap: 5px;
}

.input-button button {
  border: 1px var(--first-color) solid;
  color: #000;
  background-color: var(--second-color);
}

.input-button form {
  background-color: var(--shadow);
  padding: 4px 6px;
  border-radius: 5px;
}

.input-button button:hover {
  background-color: var(--first-color);
  color: #fff;
}

.user-data {
  width: max-content;
  min-height: 400px;
  display: flex;
  background-color: var(--second-color);
  flex-direction: column;
  color: #000;
  margin-top: 20px;
  justify-content: space-evenly;
  border-radius: 15px;
}

.box__header div {
  display: flex;
  align-items: center;
  padding: 1px 5px;
  justify-content: center;
}

.button {
  display: flex;
  color: #000;
  justify-content: center;
  gap: 40px;
}

.user-info {
  min-width: 500px;
  padding: 12px 10px;
  margin: 0px 8px;
  display: flex;
  flex-direction: column;
  background-color: var(--shadow);
  border-radius: 10px;
}

.hidden-div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-data {
  display: flex;
  align-items: stretch;
  gap: 8px;
}

.form-data div {
  font-size: 20px;
  font-weight: 400;
}

.form-data span {
  font-size: 16px;
}

.form-data img {
  max-width: 25px;
  min-height: 25px;
}

.hidden-img {
  display: flex;
  justify-content: center;
}

.hidden-img img {
  max-width: 300px;
}