body {
  background-color:var(--first-color);
  color: #fff;
}

header {
  padding: 20px;
  background-color: var(--second-color);
}

button {
  outline: none;
  background-color: transparent;
  border: 1px var(--second-color) solid;
  color: #fff;
  padding: 2px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .1s ease-in;
}

button:hover {
  background-color: var(--second-color);
  color: var(--first-color)
}

input {
  outline: none;
  border: none;
}

.section {
  padding: 0px 20px;
  display: flex;
  justify-content: center;
}

.input-button {
  display: flex;
  gap: 5px;
}

.input-button button {
  border: 1px var(--first-color) solid;
  color: #000;
}

.input-button button:hover {
  background-color: var(--first-color);
  color: #fff;
}

.user-data {
  width: max-content;
  min-height: 400px;
  border: 1px var(--second-color) solid;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-evenly;
  border-radius: 15px;
}

.box__header div {
  display: flex;
  align-items: center;
  padding: 1px 5px;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.user-info {
  min-width: 500px;
  padding: 5px 10px;
  margin: 0px 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  /* border: 1px var(--second-color) solid; */
  border-radius: 10px;
}

.form-data {
  display: flex;
}

.form-data div {
  font-size: 20px;
  font-weight: 400;
}

.form-data span {
  font-size: 16px;
}

