<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/error/error-template.css">
  <title>Oops!</title>
</head>
<body>
  <section class="section">
    <div class="error-msg">
      <h1>Oops<span>!</span></h1>
      <h2 th:text="${status}"></h2>
      <h3 th:text="${statusError}"></h3>
      <p>Let`s go <a href="#">home</a> and try from there.</p>
    </div>
  </section>
</body>
</html>