<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
	<title>Document</title>
</head>
<body>
  <header class="header">
    <nav class="nav">
    </nav>
  </header>
	<section class="registration">
	    <div class="box-registration">
      <form action="/login" method="post">
        <div class="main-form">
          <div class="box-left">
              <div class="box__header">
          <h1>Login</h1>
            </div>
              <div class="form">
            <input type="text" placeholder="Username" class="input" name="username">
            <span></span>
            <input type="password" placeholder="Password" class="input" name="password">
            <span></span>
            </div>
          </div>
	    </div>
        <div class="button">
      <a href="/">Cancel</a>
      <button type="submit">Submit</button>
      </div>
    </form>
      </div>
	</section>
  <footer class="footer">

  </footer>
</body>
</html>